.slide-contain{
    margin: auto;
    width: 50%;
}
.slideshow{
  position: relative;
}
.slide-contain img{
    width: 100%;
    height: 300px;
}
.fa-angle-left, .fa-angle-right{
    position: absolute;
    top: calc(50% - 50px);
    padding: 15px;
    transition: all 2s;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
}
.fa-angle-left{
  left: 10px;
}
.fa-angle-right{
    right: 10px;
  }
.fa-angle-left:hover, .fa-angle-right:hover{
    background: black;
}
.pagation{
   display: flex;
   justify-content: center;
   cursor: pointer;
}
.pagation img{
    width: 40px;
    height: 40px;
    opacity: 0.5;
 }
 .pagation .active{
     opacity: 1;
 }

